footer {
    margin-top: 100px;
    padding: 0 165px;
    height: 100px;
  background-color: #1b262f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo_and_list {
    display: flex;
    .list {
      list-style: none;
      display: flex;
      .list_item{
        margin-right: 30px;
        font-family: PublicSans;
        font-size: 15px;
        color: #FBFCFE;
        opacity: 0.7;
      }
    }
  }

  .sites {
    display: flex;
    gap: 30px;
  }
}

@media only screen and (max-width: 800px){
    footer {
        padding: 0 40px;
        height: 100px;
      background-color: #1b262f;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo_and_list {
        display: flex;
        .list {
          list-style: none;
          display: flex;
          .list_item{
            margin-right: 30px;
            font-family: PublicSans;
            font-size: 15px;
            color: #FBFCFE;
            opacity: 0.7;
          }
        }
      }
    
      .sites {
        display: flex;
        gap: 30px;
      }
    } 
}
@media only screen and (max-width: 500px){
    footer {
        padding: 0 40px;
        height: 100px;
      background-color: #1b262f;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-bottom: 40px;
      .logo_and_list {
        display: flex;
        flex-direction: column;
        align-items:center;
        .list {
          list-style: none;
          display: flex;
          .list_item{
            margin-right: 30px;
            font-family: PublicSans;
            font-size: 15px;
            color: #FBFCFE;
            opacity: 0.7;
          }
        }
      }
    
      .sites {
        display: flex;
        gap: 30px;
      }
    } 
}

