.section3 {
  margin-left: 165px;
  margin-right: 165px;
  display: flex;
  justify-content: space-between;
  .section3_cards {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .card_title {
      font-size: 18px;
      color: #36536b;
      font-family: PublicSans;
      text-align: center;
    }
    .card_content {
      text-align: center;
      color: #6c8294;
      font-size: 15px;
      line-height: 25px;
      font-family: PublicSans;
    }
  }
}
@media only screen and (max-width: 1300px) {
  .section3 {
    margin-left: 39px;
    margin-right: 39px;
    display: flex;
    justify-content: space-between;
    .section3_cards {
      .card_image {
        width: 88px;
        height: 88px;
      }
      max-width: 305px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .card_title {
        font-size: 18px;
        color: #36536b;
        font-family: PublicSans;
        text-align: center;
      }
      .card_content {
        text-align: center;
        color: #6c8294;
        font-size: 15px;
        line-height: 25px;
        font-family: PublicSans;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
    .section3 {
      margin-left: 39px;
      margin-right: 39px;
      display: flex;
      flex-direction: column;
     
      .section3_cards {
        .card_image {
          width: 106px;
          height: 106px;
        }
        max-width: 305px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card_title {
          font-size: 18px;
          color: #36536b;
          font-family: PublicSans;
          text-align: center;
        }
        .card_content {
          text-align: center;
          color: #6c8294;
          font-size: 15px;
          line-height: 25px;
          font-family: PublicSans;
        }
      }
    }
  }
  
